html, body {
  height: 100%;
  overflow: hidden;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  color: #333;
}

[contenteditable="true"]:active, [contenteditable="true"]:focus, button:active, button:focus {
  border: none;
  outline: none;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}


/* ============================================================================
Main Graph
============================================================================ */

.main {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}


/* ============================================================================
Dragging
============================================================================ */

.dragging {
  position: absolute;
  top: 0; left: 0;
  pointer-events: none;
  z-index: 100;
}
.draggingObject {
  position: absolute;
}
.draggingObject > * {
  box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
}
.draggingObject > .param {
  margin: 0;
  opacity: 0.7;
}


/* ============================================================================
Steps palette
============================================================================ */

.manager {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 240px;
  background: white;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}


/* ============================================================================
Link
============================================================================ */

.apply {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.apply.hovered {
  background-color: #fee;
}
.applyPlaceholder {
  height: 37px;
  background-color: #bbb;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
  /*border-bottom: 1px solid #ccc;*/
}

.applyInternals {
  display: -webkit-flex;
  display: flex;
}

.applyInternals > .fnTitle {
  margin: auto 0px auto 6px;
}

.applyInternals > .param {
  margin: auto 0px auto 6px;
}

.applyInternals > .paramApply {
  margin: auto 0px auto 6px;
}

.paramApply .tinyGraph {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background-color: white;
}

.applyInternals > .tinyGraph {
  position: relative;
  margin: 0px 0px 0px auto;
  width: 36px;
  height: 36px;
  border-left: 1px solid #ccc;
  background-color: white;
}

.possibleApply {
  border-bottom: 1px solid #ccc;
}
.selectedPossibleApply {
  background-color: rgba(127, 200, 255, 0.7);
}


/* ============================================================================
Param
============================================================================ */

.param {
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
}
.param.hovered {
  background-color: #cfc;
}

.paramTitle, .paramValue {
  padding: 0.1em 0.4em;
  font-size: 0.8em;
}
.paramTitle {
  background-color: rgba(0, 0, 0, 0.2);
}
.paramValue {
  background-color: rgba(0, 0, 0, 0.1);
}














.addApplyButton {
  position: absolute;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  padding: 0px;
  line-height: 16px;
  z-index: 10;
  opacity: 0;

  color: #777;
  font-family: verdana;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  background-color: #ddd;
  background-image: linear-gradient(to bottom, #eee, #ccc);
  box-shadow: 0 2px 1px rgba(0,0,0,0.16), 0 0 1px rgba(0,0,0,0.5), inset 0 1px 0 rgba(255,255,255,0.55);
  border-radius: 20px;
  border: 0px;
}
.addApplyButton:hover {
  background-image: linear-gradient(to bottom, #f3f3f3, #d3d3d3);
}
.addApplyButton:active {
  background-image: linear-gradient(to bottom, #cacaca, #d5d5d5);
  box-shadow: 0 1px 1px rgba(255,255,255,0.35), inset 0 0 1px rgba(0,0,0,0.5), inset 0 1px 4px rgba(0,0,0,0.4);
}

.applyRow:hover .addApplyButton {
  opacity: 1;
}


.provisionalApply {
  background-color: #eee;
  overflow: auto;
  height: 200px;
  border-bottom: 1px solid #ccc;
}
.provisionalApply .possibleApply:last-child {
  border-bottom: 0px;
}
.provisionalApply:before {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 200px;
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.5);
}


